* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo {
    margin-top: 65%;
    margin-left: 20%;
}
/* FONDO VISTA PRINCIPAL Y FINAL */
.main, .vencier {
 background:rgb(168, 5, 147);
}
/* ESTILOS DE CONTENIDO HTML */
.logo-large {
    width: 80%;
    margin-left: 15%;
    margin-top: 20%;
}
.contenedor {
    background-image: url('../assets/images/atardecer.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.logo-inicio {	    
    left:30%;		     
    top:0;		     
    transform: translateX(0%) translateY(0%);
}
.botones {
    margin-top: 5rem;
    padding-left: 26%;
    
}
.boton {
    outline: 1px solid #fff;
    color: #fff;
    margin-right: 10px; 
}
.boton a {
    text-decoration: none;
    color: #fff;
}
.boton:hover {
    background: rgb(218, 4, 103);
    color: #fff;
}
/*------ ESTILOS SIGNUP HTML ------*/
.con {
    text-align: center;
}
.banderas {
    width: 20px;
};
#fila-1 {
    padding-left: 10%;    
}
.opcion {
    float: left;   
}
.prueba {
    height: 100%;
}
.texto {
    text-align: center;
    margin-top: 10%;
}
/*----- ESTILOS VERIFY HTML ----*/
#area {
    
    height: 3rem;
}
header, .lab-number {
    text-align: center;
}
.borde {
    border: none;
    border-bottom: dashed purple;
    outline: none;
    width: 30px;
    
}
.borde:focus {
    border-bottom: dashed #18bc9c;
}
/*------ESTILOS FORMULARIO HTML-------------*/
 .formu {
    margin-left: 15%;
}
.chec {
    margin-top: 5%;
    margin-bottom: 30%;
  /*  margin-left: 15%;*/
  padding-left: 15%;
}
.blue {
    color: blue;
}
h5 {
    display: inline-block;
}
.icon-left-rigth {
    margin-top: 5%;
}
.span {
    margin-right: 70%;
}
.span:nth-child(2) {
    margin-right: 0;
}
.next-sing {
    background: rgb(185, 180, 185);
    color: #fff;
}
.purple-next {
    background: rgb(230, 10, 138);
    color: #fff;
}
/*----------ESTILOS VENCIER HTML-----*/
.logo-2 {
    margin-top: 50%;
    padding-left:15%;
    /*  margin-left: 12%;*/
 }

.col {
    padding-top: 10%;
}
.ventana-check {
    margin-top: 10%;
    margin-left: 20%;
   /* width: 50%;*/
    min-height:20vh;
    margin-bottom: 5rem;
    background: #fff;
}

