<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/icons/style.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body class="contenedor">
    <div class="contenedor-logos">
        <div class="col logo-inicio col-xs-4 col-sm-4">
            <img src="../assets/images/logo-white.png" class="img-responsive" alt="logo">
        </div>
        <div class="col logo-large col-xs-12 col-sm-8 col-md-8">
            <img src="../assets/images/logo-pink.png" class="img-responsive" alt="logo-pink">
        </div>
        <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="botones col-xs-12 ">
                <div class="btn boton col-sm-4 col-md-4">LOG IN</div>
                <div class="btn boton col-sm-4 col-md-4"><a href="../views/singup.html">SING UP</a></div>
            </div>
        </div>
    </div>
    
        

   <script src="../vendors/jquery/jquery-3.2.1.min.js"></script> 
   <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>  
 <script src="../js/conten.js"></script> 
</body>
</html>