<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>formulario</title>
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/icons/style.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <header>
        <div class="col-xs-12 icon-left-rigth">
            <a class="span" href="../views/verify.html"><i class="glyphicon glyphicon-chevron-left"></i></a>
            <a class="span" href="../views/vencier.html"><i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>
        <h2>Sign up</h2>
        <h4>Join now for free ride credit</h4>
        <hr>
    </header>
    <div class="formu col-xs-8 col-sm-6">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <div class="form-group label-floating">
                    <label class="control-label"></label>
                    <input  type="text" placeholder="user" class="form-control" id="user">
                </div>
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <div class="form-group label-floating" for="inputEmail">
                    <label class="control-label"></label>
                    <input  type="email" class="form-control" id="correo">
                </div>
            </div>
    </div>
    <div class="row chec col-xs-12" >
        <input type="checkbox">
        <h5>I gree to Lyft´ss <strong class="blue">terms of service</strong></h5>    
    </div>
    <div class="row col-xs-12">
        <input type="submit" class="col-xs-12" value="NEXT"  disabled>
    </div>
    
      


    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="../vendors/bootstrap/js/bootstrap.js"></script>  
    <script src="../js/formulario.js"></script> 
</body>
</html>