<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>singUp</title>
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/icons/style.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body> 
    <div class="container">
        <div class="row con">
            <div class="col-xs-12 icon-left-rigth">
                <a class="span" href="../views/contenido.html"><i class="glyphicon glyphicon-chevron-left"></i></a>
                <a class="span" href="../views/verify.html"><i class="glyphicon glyphicon-chevron-right"></i></a>
            </div>
            <h1>Sing Up</h1>
            <p>Join now for free ride credit</p>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class=" " id="fila-1">
            <div class="opcion">  
                <select name=”prueba” class="prueba" >
                    <option id=”opcion1″>Opción 1</option>
                    <option id=”opcion2″>Opción 2</option>
                    <option id=”opcion3″>Opción 3</option>
                    <option id=”opcion4″>Opción 4</option>
                </select>
            </div> 
            <div class="opcion" >
                <input type="number" class="prueba " id="number">
            </div>
        </div>
    </div>
    <div class="texto">
        <div>
            <p>We'll send a text to verify your phone</p>
        </div>
        <div >
            <input id="area" class="col-xs-9 " type="button" value="NEXT" disabled>
        </div>
    </div>
    <div id="alert">llenar el campo</div>
  


    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="../vendors/bootstrap/js/bootstrap.js"></script>  
    <script src="../js/singunp.js"></script> 
</body>
</html>