<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ventana final</title>
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/icons/style.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body class="vencier">


    <div class="col-xs-12 logo-2" >
        <span class="col-xs-8"><img src="../assets/images/logo-white.png" class="img-responsive" alt="white"></span>
    </div>
    <div class="row col-xs-12">
        <div class="ventana-check">
            <span><img src="../assets/images/check.png" class="img-responsive " id="check" alt="check"></span>
        </div>
    </div>
    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="../vendors/bootstrap/js/bootstrap.js"></script>  
    <script src="../js/vencier.js"></script> 
</body>
</html>