<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>verify</title>
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/icons/style.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <!--TITULO-->
    <header class="container">
        
        <div class="col-xs-12 icon-left-rigth">
            <a class="span" href="../views/singup.html"><i class="glyphicon glyphicon-chevron-left"></i></a>
        </div>
        <h2>Verify phone number</h2>
        <h4>Join now for free ride credit</h4>
    </header>
    <hr>
    <div class="container">
        <div class="lab-number">
            <strong>LAB-</strong>
            <input class="borde" type="number" id="borde">
        </div>
    </div>
    <br>
    <div class="lab-number">
        <h5>Enter the code sento +52</h5>
    </div>
    <br>
    <div class="lab-number">
        <a class="btn btn-primary" id="primary">Resend code</a>
    </div>
    <br><br>
    <div class="col-xs-12">
        <input class="col-xs-12" type="submit" value="NEXT" id="veryfi-btn" disabled>
    </div>


    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="../vendors/bootstrap/js/bootstrap.js"></script>  
    <script src="../js/verify.js"></script> 
</body>
</html>